@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#FFFFFF;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}



.slider{
  mask-image:linear-gradient(to right,transparent,#000 10% 90%,transparent);
}
@media screen and (max-width: 759px) {
  .singularBuild{
    animation:autoRun 4s linear infinite;
    animation-delay: calc(2s*var(--position));
    position:absolute;
    transform: translateX(-100%);
    width: 100%;
  }
}

/* Medium screens: tablets */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .singularBuild{
    animation:autoRun 8s linear infinite;
    animation-delay: calc(2s*var(--position));
    position:absolute;
    transform: translateX(-100%);
    width: 100%;
  }
}

/* Large screens: desktops and up */
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .singularBuild{
    animation:autoRun 16s linear infinite;
    animation-delay: calc(4s*var(--position));
    position:absolute;
    transform: translateX(-100%);
    width: 100%;
  }
}

@media screen and (min-width: 1401px) and (max-width: 5000px) {
  .singularBuild{
    animation:autoRun 24s linear infinite;
    animation-delay: calc(3s*var(--position));
    position:absolute;
    transform: translateX(-100%);
    width: 100%;
  }
}

/* Large screens: desktops and up */
@media screen and (min-width: 5000px) {
  .singularBuild{
    animation:autoRun 12s linear infinite;
    animation-delay: calc(3s*var(--position));
    position:absolute;
    transform: translateX(100% * var(--position));
     animation-fill-mode: both;
  
    width: 100%;
  }
}

@keyframes autoRun{
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.hide-scroll{
scrollbar-width: none;
}

.y-aspect-ratio {
  height: 100%;
  width: calc(100% * 3 / 4); 
}
