@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#FFFFFF;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}



.slider{
  mask-image:linear-gradient(to right,transparent,#000 10% 90%,transparent);
}
@media screen and (max-width: 759px) {
  .content{
    animation:autoRun 4s linear infinite;
    position:absolute;
    transform: translateX(100%);
    width: 100%;
  }
}

/* Medium screens: tablets */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .content{
    animation:autoRun 8s linear infinite;
    position:absolute;
    transform: translateX(100%);
    width: 100%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .content{
    animation:autoRun 16s linear infinite;
    position:absolute;
    transform: translateX(100%);
    width: 100%;
  }
}

@media screen and (min-width: 1401px) and (max-width: 5000px) {
  .content{
    animation:autoRun 24s linear infinite;
    position:absolute;
    transform: translateX(100%);
    width: 100%;
  }
}

@media screen and (min-width: 5000px) {
  .content{
    animation:autoRun 12s linear infinite;
    position:absolute;
    transform: translateX(100%);
    width: 100%;
  }
}
@media screen and (max-width: 1024px)  {
  .goog-te-gadget .goog-te-combo {
    color: #BC3030;
    font-family: "Inter", sans-serif;
    font-size:medium;
  }
}

@media screen and (min-width: 1025px)  {
  .goog-te-gadget .goog-te-combo {
    color: #BC3030;
    font-family: "Inter", sans-serif;
    font-size:regular;
    border:hidden;
    display:block !important;
  }
}


@keyframes autoRun{
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.hide-scroll{
scrollbar-width: none;
}

.y-aspect-ratio {
  height: 100%;
  width: calc(100% * 3 / 4); 
}



.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

.goog-te-gadget {
  color:transparent !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd{
   display: none;
}